{
  "printWidth": 120,
  "tabWidth": 4,
  "useTabs": false,
  "encoding": "utf-8",
  "bracketSpacing": true,
  "arrowParens": "always",
  "trailingComma": "es5",
  "end-of-line": "lf",
  "singleQuote": true,
  "semi": false
}
