@tailwind base;
@tailwind components;
@tailwind utilities;

// Variables
$shadow-default: 0 4px 20px 0 rgba(0, 0, 0, 0.05);

// Defaults
.max-container {
  max-width: 1240px;
}

.shadow-default {
  -webkit-box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.05);
}

// Card

.card {
  @apply rounded-default p-default gap-container;
  display: flex;
  flex-direction: column;
}

// Text
.size-30px {
  font-size: 30px;
  font-weight: 600;
  line-height: 36px;
}

.size-20px {
  font-size: 20px;
  font-weight: 400;
}

// Fonts
body {
  font-family: "Inter Tight", sans-serif;
  @apply text-base text-dark;
}

.unbounded {
  font-family: "Unbounded", sans-serif;
}

@font-face {
  font-family: 'Inter Tight', serif;
  src: url(../../public/fonts/InterTight-Italic.ttf) format('ttf');
  font-style: italic;
}

@font-face {
  font-family: 'Inter Tight', serif;
  src: url(../../public/fonts/InterTight.ttf) format('ttf');
  font-style: normal;
}

@font-face {
  font-family: 'Unbounded', sans-serif;
  src: url(../../public/fonts/Unbounded.ttf) format('ttf');
}